/*DEVELOPER: Carmina Tolome, IS117-001, Fall 2023 */
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
	background-color: #FFFFFF;
}
/* float right aside */
.body-aside {
    float: left;
    clear: both;
}
/*space between logo and text */
.navbar-text {
    padding-left: 10px;
}
body {
    font-size: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    vertical-align: middle;
}

.card {
    margin: 0;
    padding: 10px;
    position: center;
}
.li-title {
    list-style: none;
    font-weight: bolder;
    margin-bottom: 25px;
}
.li-body {
    list-style: none;
    font-weight: bold;
    margin-bottom: 20px;
}
.nav-item{
    padding-right: 10px;
}
/* FOOTER CONTENT*/
.bg-body-tertiary{
    background-color: #212529; 
    font-weight: bolder;
    margin-top: 1%;
    bottom: 0; 
    width: 100%;
    clear: both;
}
.page-container{
    position: relative;
    min-height: 100vh;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.my-custom-text {
    font-size: 1.25em;
    line-height: 1.5; 
}
/* FOOTER STUFF */
.footer {
    position: absolute;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
    background-color: #212529;
}
footer a {
    color: #FFFFFF;
}
footer a:hover {
    text-decoration: underline;
}
.wrapper {
    height: 1000px;
    position: relative;
}
html,body {
    height: 100% ;
}